<div class="w-100 d-inline-block mt-3">
    <h3 class="fst-italic float-start">{{titleService.title$ | async }}</h3>
    <button class="btn btn-outline-success float-end" (click)="criarEmpresa()">Nova Empresa</button>
</div>

<bpgear-table [dataViewConfig]="empresaDataViewConfig" [data]="empresas" #tableEmpresa
    (deletarItemEvent)="deletarEmpresa($event)" (editarItemEvent)="editarEmpresa($event)"
    (eventCallBack)="acessarEmpresa($event)">
    <!-- <ng-template #colAcessar let-cel="dataCallBack">
                <div class="text-center" (click)="logEmpresas()">
                    <fa-icon [icon]="iconAcessar" class="cursor-pointer" [fixedWidth]="true">
                    </fa-icon>
                </div>
            </ng-template> -->
</bpgear-table>

<!-- <ng-template #colTest let-cel="dataCallBack">
    <span class="text-danger">{{menorQue(+cel)}}</span>
</ng-template> -->

<!-- <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="refreshCountries()">
    </ngb-pagination>

    <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
    </select>
</div> -->