<ng-template [ngIf]="colaborador">
    <div class="modal-header">
        <h4 class="modal-title">{{colaborador.pesquisa| transformValue: 'acao-alterar-pesquisa'}} Pesquisa</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <p>Tem certeza que deseja {{(colaborador.pesquisa| transformValue:
            'acao-alterar-pesquisa').toString().toLowerCase()}}
            a pesquisa deste colaborador: <br>
            <strong>{{colaborador.nome}}</strong>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close(false)">Fechar</button>
        <button type="submit" class="btn btn-success" (click)="alterarPesquisaColaborador()">Confirmar</button>
    </div>
</ng-template>
<ng-template [ngIf]="cliente">
    <div class="modal-header">
        <h4 class="modal-title">{{cliente.pesquisa| transformValue: 'acao-alterar-pesquisa'}} Pesquisa</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <p>Tem certeza que deseja {{(cliente.pesquisa| transformValue:
            'acao-alterar-pesquisa').toString().toLowerCase()}}
            a pesquisa deste cliente: <br>
            <strong>{{cliente.nome}}</strong>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close(false)">Fechar</button>
        <button type="submit" class="btn btn-success" (click)="alterarPesquisaCliente()">Confirmar</button>
    </div>
</ng-template>