<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container-fluid">
        <a class="navbar-brand fst-italic">Bp Gear</a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="justify-content-end" id="navbarNavDropdown">
            <div class="navbar-nav">
                <bpgear-section-user></bpgear-section-user>
            </div>
        </div>
    </div>
</nav>