<div class="box-input-dropdown-auto-complete dropdown w-100">
    <input [name]="name" type="text" [formControl]="formControl"
        [class]="'form-control input-dropdown-auto-complete validator dropdown-toggle ' + classes.join(' ')"
        aria-describedby="input-dropdown-auto-complete" #inputDropdownAutoComplete id="dropdown-auto-complete"
        data-bs-toggle="dropdown" aria-expanded="false" (input)="searchItem($event.target['value']); myDrop.open();"
        autocomplete="off">
    <div class="dropdown-menu" aria-labelledby="dropdown-auto-complete" ngbDropdown aria-labelledby="dropdownForm"
        #myDrop="ngbDropdown">
        <!-- Button hidden abaixo para não setar a primeira opção quando der submit ao formulário envolvido
        e travar a validação -->
        <button hidden ngbDropdownItem></button>
        <button class="dropdown-item cursor-pointer" *ngFor="let i of itensRef; let index"
            (click)="setValue(i); $event.preventDefault(); inputDropdownAutoComplete.focus(); myDrop.close();"
            ngbDropdownItem>
            {{configPropertyView(i)}}</button>
    </div>
</div>