<div class="px-4 w-100" id="content">
    <h3 class="pt-3">BpGear</h3>
    <p class="mb-0 mt-3 fw-bold fst-italic">
        {{ nomeEmpresa }} <span class="d-none d-md-inline"> / </span>
        <br class="d-md-none" />
        CNPJ: {{ cnpj | mask: 'CPF_CNPJ' }}
    </p>
    <h3 class="fst-italic mt-3">Criar colaborador:</h3>
    <p>
        <strong>Nome Completo: </strong>
        <span class="fst-italic">{{formGroupColaborador.controls['nome'].value}}</span> <br />
        <strong>E-mail: </strong>
        <span class="fst-italic">{{formGroupColaborador.controls['email'].value}}</span> <br />
        <a [routerLink]="['/login']" class="text-reset" *ngIf="colaboradorCriado">Ir para página de Login</a>
    </p>
    <form class="mt-3 needs-validation" [formGroup]="formGroup" novalidate autocomplete="on" *ngIf="!colaboradorCriado">
        <div class="row flex-column align-items-center" [formGroup]="formGroupColaborador">
            <p class="col-md-4 fw-bold">Preencha os dados abaixo:</p>
            <div class="col-md-4">
                <label for="inputUsuario" class="form-label">Usuário:</label>
                <input type="text" class="form-control validator" id="inputUsuario" formControlName="usuario">
                <small class="text-danger" formControlOnErrorItem="usuario"></small>
            </div>
            <div class="col-md-4">
                <label for="inputSenha" class="form-label">Senha:</label>
                <input type="password" class="form-control validator" id="inputSenha" formControlName="senha">
                <small class="text-danger" formControlOnErrorItem="senha"></small>
            </div>
            <div class="col-md-4">
                <label for="inputConfirmarSenha" class="form-label">Confirmar senha:</label>
                <input type="password" class="form-control validator" id="inputConfirmarSenha"
                    formControlName="confirmarSenha">
                <small class="text-danger" formControlOnErrorItem="confirmarSenha"></small>
            </div>
            <div class="col-md-4 d-grid">
                <button type="submit" class="btn btn-success btn-block align-bottom mt-3"
                    (click)="criarColaborador()">Confirmar</button>
            </div>
        </div>
    </form>
</div>