<div class="modal-header">
    <h4 class="modal-title">Criar Empresa</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
    <form class="row g-3 needs-validation" [formGroup]="formGroup" (ngSubmit)="editarColaborador()" novalidate
        autocomplete="on">
        <div class="col-12">
            <label for="inputNomeCompleto" class="form-label">Nome completo:</label>
            <input type="text" class="form-control validator" id="inputNomeCompleto" formControlName="nomeCompleto">
            <small class="text-danger" formControlOnErrorItem="nomeCompleto"></small>
        </div>

        <div class="col-12">
            <label class="form-label" for="">Pesquisa:</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="pesquisaAtiva" id="radioPesquisaAtivada"
                    formControlName="pesquisaAtiva" [value]="true">
                <label class="form-check-label" for="radioPesquisaAtivada">
                    Ativada
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="pesquisaAtiva" id="radioPesquisaDesativada"
                    formControlName="pesquisaAtiva" [value]="false">
                <label class="form-check-label" for="radioPesquisaDesativada">
                    Desativada
                </label>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close(false)">Fechar</button>
    <button type="submit" class="btn btn-success" (click)="editarColaborador()">Confirmar</button>
</div>