thead {
    tr {
        th {
            white-space: nowrap;
        }
    }
}

tbody {
    tr {
        td {
            white-space: nowrap;
        }
    }
}

/* CUSTOM CLASS ******************************************* */

/* table-empresas */
.table-empresas {
    tbody>tr:hover {
        cursor: pointer;

        td:nth-child(1) {
            text-decoration: underline;
        }
    }
}