.table tr:first-child th:first-child {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

.table tr:first-child th:last-child {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

.table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

thead {
    tr {
        th {
            white-space: nowrap;
        }
    }
}

tbody {
    tr {
        td {
            white-space: nowrap;
        }
    }
}

/* CUSTOM CLASS ******************************************* */

/* table-empresas */
.table-empresas {
    tbody>tr {
        td:nth-child(1) {
            font-weight: 500;
        }

        &:hover {
            cursor: pointer;

            td:nth-child(1) {
                text-decoration: underline;
            }
        }
    }
}