// .table tr:first-child th:first-child {
//     -moz-border-radius-topleft: 0.25rem;
//     -webkit-border-top-left-radius: 0.25rem;
//     border-top-left-radius: 0.25rem;
// }

// .table tr:first-child th:last-child {
//     -moz-border-radius-topright: 0.25rem;
//     -webkit-border-top-right-radius: 0.25rem;
//     border-top-right-radius: 0.25rem;
// }

// .table tr:last-child td:first-child {
//     -moz-border-radius-bottomleft: 0.25rem;
//     -webkit-border-bottom-left-radius: 0.25rem;
//     border-bottom-left-radius: 0.25rem;
// }

// .table tr:last-child td:last-child {
//     -moz-border-radius-bottomright: 0.25rem;
//     -webkit-border-bottom-right-radius: 0.25rem;
//     border-bottom-right-radius: 0.25rem;
// }

thead {
    tr {
        th {
            white-space: nowrap;
        }
    }
}

tbody {
    tr {
        td {
            white-space: nowrap;
        }
    }
}

.th-acoes {
    width: 50px !important;
}

/* CUSTOM CLASS ******************************************* */

/* table-empresas */
.table-empresas {
    tbody>tr {
        td:nth-child(1) {
            font-weight: 500;
        }

        &:hover {
            cursor: pointer;

            td:nth-child(1) {
                text-decoration: underline;
            }
        }
    }
}

/* table-clientes */
.table-clientes {
    thead>tr {
        th:nth-child(5) {
            text-align: center;
        }
    }

    tbody>tr {
        td:nth-child(5) {
            font-weight: 500;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }

    }

}