<!-- <div class="px-4 w-100" id="content">
    <h3 class="pt-3">BpGear</h3>
    <p class="mb-0 mt-3 fw-bold fst-italic">
        {{ nomeEmpresa }} <span class="d-none d-md-inline"> / </span>
        <br class="d-md-none" />
        CNPJ: {{ cnpj | mask: 'CPF_CNPJ' }}
    </p>
    <h3 class="fst-italic mt-3">Criar colaborador:</h3>
    <p>
        <strong>Nome Completo: </strong>
        <span class="fst-italic">{{formGroupColaborador.controls['nome'].value}}</span> <br />
        <strong>E-mail: </strong>
        <span class="fst-italic">{{formGroupColaborador.controls['email'].value}}</span> <br />
         <a [routerLink]="['/login']" class="text-reset" *ngIf="colaboradorCriado">Ir para página de Login</a>
</p>
</div> -->