<div class="modal-header">
    <h4 class="modal-title">Deletar Colaborador</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
    <p>Tem certeza que deseja deletar este colaborador:
        {{colaborador.nome}}
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close(false)">Fechar</button>
    <button type="submit" class="btn btn-success" (click)="deletarColaborador()">Confirmar</button>
</div>