<div class="w-100 d-inline-block mt-3">
    <h3 class="fst-italic float-start">Clientes</h3>
    <button class="btn btn-outline-success float-end" (click)="criarCliente()">Novo Cliente</button>
</div>

<bpgear-table [dataViewConfig]="clienteDataViewConfig" [data]="clientes" (deletarItemEvent)="deletarCliente($event)"
    (detalharItemEvent)="detalharCliente($event)" (editarItemEvent)="editarCliente($event)">
    <ng-template #colAlterarPesquisa let-data="dataCallBack" let-item="itemCallBack">
        <span (click)="alterarPesquisa(item)">{{ data | transformValue: "acao-alterar-pesquisa" }}</span>
    </ng-template>
</bpgear-table>