<div class="w-100 d-inline-block mt-3">
    <h3 class="fst-italic float-start">Clientes</h3>
    <button class="btn btn-outline-success float-end" (click)="criarCliente()">Novo Cliente</button>
</div>

<bpgear-table [dataViewConfig]="clienteDataViewConfig" [data]="clientes" #tableEmpresa
    (deletarItemEvent)="deletarCliente($event)">
    <ng-template #colAcessar let-cel="dataCallBack">
        <div class="text-center">
            <span (click)="alterarPesquisa(cel)">{{cel | transformValue:
                "acao-tabela-pesquisa"}}</span>
        </div>
    </ng-template>
</bpgear-table>