<div class="w-100 d-inline-block mt-3">
    <h3 class="fst-italic float-start">Clientes</h3>
    <button class="btn btn-outline-success float-end" (click)="criarCliente()">Novo Cliente</button>
</div>

<bpgear-table [dataViewConfig]="clienteDataViewConfig" [data]="clientes" (deletarItemEvent)="deletarCliente($event)"
    (detalharItemEvent)="detalharCliente($event)" (editarItemEvent)="editarCliente($event)">
    <ng-template #colAlterarPesquisa let-data="dataCallBack" let-item="itemCallBack">
        <span (click)="alterarPesquisa(item)">{{ data | transformValue: "acao-alterar-pesquisa" }}</span>
    </ng-template>
    <ng-template #colEnviarPesquisa let-data="dataCallBack" let-item="itemCallBack">
        <fa-icon [icon]="faEnvelope" (click)="openModal(modalConfirmarEnvioEmail, 'md')">
        </fa-icon>
        <ng-template #modalConfirmarEnvioEmail let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Enviar e-mail para pesquisa:</h4>
                <button type="button" class="btn-close" aria-label="Close"
                    (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
                <p>Confirma envio da pesqiusa para este cliente:</p>
                {{item.nome}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" (click)="modal.close()">Fechar</button>
                <button type="submit" class="btn btn-success" (click)="enviarEmailPesquisaM1(item)">Confirmar</button>
            </div>
        </ng-template>
    </ng-template>
</bpgear-table>