<div class="px-4 pb-5 w-100" *ngIf="pesquisaM1">
    <h3 class="pt-3">BpGear</h3>
    <h3 class="fst-italic mt-3">Empresa: {{pesquisaM1.empresa.nome}}</h3>
    <h3 class="pt-3">Bem vindo(a) {{pesquisaM1.colaborador.nome}}</h3>

    <ng-container *ngIf="!finalizarPesquisa; else respostaFinalizarPesquisa">
        <p>
            Objetivo: Por favor, descreva as ações que criam ou potencializam os valores presentes nos bens e serviços
            da empresa.
            Após inserir sua proposta de ação , escolha um departamento que será RESPONSÁVEL pela condução da ação , e
            um departamento que enventualmente esteja mais ENVOLVIDO com a ação.
            <br />
            <small>Dica: Quanto mais objetivo for sua sugestão, com parâmetros, valores, medições, etc,
                melhor.</small>
            <span class="fw-bolder text-decoration-underline cursor-pointer ms-2"
                (click)="openModal(modalExemplo)">Exemplo</span>
        </p>

        <small class="fw-italic text-danger">*Campos obrigatórios</small>
        <div>
            <ng-scrollbar track="horizontal" [autoHeightDisabled]="false">
                <div class="table-responsive">
                    <table class="table border mt-3 shadow-sm">
                        <thead class="bg-danger text-light">
                            <tr>
                                <th class="text-nowrap border-end">Lista de Valores Percebidos</th>
                                <th class="text-nowrap">Ações que geram, amplia, estimulam o valor *
                                    <span class="fw-lighter fst-italic small">Caracteres (500)</span>
                                </th>
                                <th>Responsável *</th>
                                <th>Envolvido *</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="bg-light border-top-0" [formGroup]="formGroup" novalidate autocomplete="on">
                            <!-- <ng-container formArrayName="valores">
                            <tr *ngFor="let valor of formArrValores.controls; let iValor = index" class="h-auto"
                                [formGroupName]="iValor">
                                <td class="border-end" style="width: 210px;"
                                    [attr.rowspan]="valorAcoes(iValor).controls.length+1">
                                    <span class="fw-bolder">{{obterNomeValor(valor.value.idValor)}}</span>
                                    <br />
                                    <button class="btn btn-success mt-3" (click)="adicionarAcao(iValor)">Adicionar
                                        ação</button>
                                </td>
                                <ng-container formArrayName="acoes">
                                    <td>
                                        <ng-container
                                            *ngFor="let acao of valorAcoes(iValor).controls; let iAcoesAcao = index"
                                            [formGroupName]="iAcoesAcao">
                                            <textarea class="form-control validator mb-2" id="floatingTextarea"
                                                formControlName="acao" style="resize: none;" rows="2"></textarea>
                                        </ng-container>
                                    </td>
                                    <td>
                                        <ng-container
                                            *ngFor="let acao of valorAcoes(iValor).controls; let iAcoesIdResponsavel = index"
                                            [formGroupName]="iAcoesIdResponsavel">
                                            <bpgear-input-dropdown-auto-complete controlName="idResponsavel"
                                                [formGroup]="convertFormGroup(acao)" [itens]="pesquisaM1.setor"
                                                [dataInputDropdownConfig]="setorDataInputDropdown"
                                                name="inputResponsavel" [classes]="['mb-2']">
                                            </bpgear-input-dropdown-auto-complete>
                                        </ng-container>
                                    </td>
                                    <td>
                                        <ng-container
                                            *ngFor="let acao of valorAcoes(iValor).controls; let iAcoesIdEnvolvido = index"
                                            [formGroupName]="iAcoesIdEnvolvido">
                                            <bpgear-input-dropdown-auto-complete controlName="idEnvolvido"
                                                [formGroup]="convertFormGroup(acao)" [itens]="pesquisaM1.setor"
                                                [dataInputDropdownConfig]="setorDataInputDropdown" name="inputEnvolvido"
                                                [classes]="['mb-2']">
                                            </bpgear-input-dropdown-auto-complete>
                                        </ng-container>
                                    </td>

                                </ng-container>
                                <td>
                                    <ng-container
                                        *ngFor="let acao of valorAcoes(iValor).controls; let iAcoesDelete = index"
                                        [formGroupName]="iAcoesDelete">
                                        <button type="button" class="btn btn-danger mb-2"
                                            (click)="removerAcao(iValor, iAcoesDelete)"
                                            *ngIf="valorAcoes(iValor).controls.length > 1">X</button>
                                    </ng-container>
                                </td>
                            </tr>
                        </ng-container> -->
                            <ng-container formArrayName="valores">
                                <ng-container *ngFor="let valor of formArrValores.controls; let iValor = index"
                                    [formGroupName]="iValor">
                                    <ng-container formArrayName="acoes">
                                        <tr *ngFor="let acao of valorAcoes(iValor).controls; let iAcoesAcao = index"
                                            [formGroupName]="iAcoesAcao"
                                            [ngClass]="{'border-secondary border-bottom': iAcoesAcao + 1 === valorAcoes(iValor).controls.length}">
                                            <td class="border-end"
                                                style="width: 210px; border-bottom: 1px solid #6c757d !important;"
                                                *ngIf="iAcoesAcao === 0"
                                                [attr.rowspan]="valorAcoes(iValor).controls.length">
                                                <span class="fw-bolder">{{obterNomeValor(valor.value.idValor)}}</span>
                                                <fa-icon class="ms-2" [icon]="iconDetalhar" [fixedWidth]="true"
                                                    container="body" placement="top"
                                                    [ngbTooltip]="pesquisaM1.valor[iValor].definicaoValor">
                                                </fa-icon>
                                                <br />
                                                <button class="btn btn-success btn-sm mt-3"
                                                    (click)="adicionarAcao(iValor)">
                                                    Adicionar ação
                                                </button>
                                            </td>
                                            <td>
                                                <textarea class="form-control validator" id="floatingTextarea"
                                                    formControlName="acao" rows="2"></textarea>
                                            </td>
                                            <td>
                                                <bpgear-input-dropdown-auto-complete controlName="idResponsavel"
                                                    [formGroup]="convertFormGroup(acao)" [itens]="pesquisaM1.setor"
                                                    [dataInputDropdownConfig]="setorDataInputDropdown"
                                                    name="inputResponsavel">
                                                </bpgear-input-dropdown-auto-complete>
                                            </td>
                                            <td>
                                                <bpgear-input-dropdown-auto-complete controlName="idEnvolvido"
                                                    [formGroup]="convertFormGroup(acao)" [itens]="pesquisaM1.setor"
                                                    [dataInputDropdownConfig]="setorDataInputDropdown"
                                                    name="inputEnvolvido">
                                                </bpgear-input-dropdown-auto-complete>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger mb-2"
                                                    (click)="removerAcao(iValor, iAcoesAcao)"
                                                    *ngIf="valorAcoes(iValor).controls.length > 1">X</button>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </ng-scrollbar>
        </div>
        <button class="btn btn-success mt-3" [disabled]="form.invalid" (click)="openModal(modalFinalizar, 'md')">
            Finalizar Pesquisa
        </button>

        <ng-template #modalExemplo let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Exemplo:</h4>
                <button type="button" class="btn-close" aria-label="Close"
                    (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Lista de Valores Percebidos</th>
                            <th>Ações que geram, amplia, estimulam o valor
                                <span class="fw-lighter fst-italic small">Caracteres (500)</span>
                            </th>
                            <th>Responsável</th>
                            <th>Envolvido</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Qualidade</td>
                            <td>Fazer auditoria periódica, ao menos semestral, nos principais fornecedores para garantir
                                o padrão dos insumos.</td>
                            <td>CQ</td>
                            <td>Compras</td>
                        </tr>
                        <tr>
                            <td>Agilidade na entrega (delivery)</td>
                            <td>Fazer planejamento de estoque conforme a previsão de vendas de forma a termos os
                                produtos no momento da venda, garantido entrega imediata.</td>
                            <td>Produção</td>
                            <td>Comercial</td>
                        </tr>
                        <tr>
                            <td>Preço</td>
                            <td>Fazer cálculo de economia gerada na produção de lotes otimizado (acima de 100 unidades)
                                para repassarmos ao preço e termos mais competitividade em compra de grandes volumes.
                                Podemos escalonar em 100 / 500 / 1.000 unidades.</td>
                            <td>Controladoria</td>
                            <td>Produção</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fechar</button>
            </div>
        </ng-template>

        <ng-template #modalFinalizar let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Finalizar Pesquisa:</h4>
                <button type="button" class="btn-close" aria-label="Close"
                    (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
                <p>Confirma os dados inseridos?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Não</button>
                <button class="btn btn-success" (click)="inserirDados()">Sim</button>
            </div>
        </ng-template>
    </ng-container>
    <ng-template #respostaFinalizarPesquisa>
        <p>Obrigado pela pesquisa.</p>
    </ng-template>
    <!-- <pre>{{form?.value | json}}</pre> -->
</div>