<div class="d-flex flex-column h-100">
    <bpgear-nav-bar></bpgear-nav-bar>
    <div class="d-flex flex-nowrap m-0 p-0 h-100" style="width: 100vw; overflow-y: auto;">
        <bpgear-side-bar class="w-auto" id="side-bar"></bpgear-side-bar>
        <!-- <ng-scrollbar class="position-relative m-0 p-0 " track="vertical" [autoHeightDisabled]="true"> -->
        <!-- content -->
        <div class="px-4 w-100" id="content">
            <router-outlet></router-outlet>
        </div>
        <!-- </ng-scrollbar> -->

    </div>
</div>