#side-bar {
    width: 180px;

    &.none {
        width: 0px;
    }

    .title-item {
        transition: opacity 0.8s ease-out;
        opacity: 1;
    }

    &.minimize {
        width: 54px;

        .title-item {
            transition: opacity 0.3s ease-out;
            opacity: 0;
        }
    }

    transition: width 0.8s ease;

    .nav-item {
        position: relative;
        width: 100%;

        &.active {
            color: var(--bs-light);
            background-color: var(--bs-dark);

            .nav-link {
                color: var(--bs-light);

            }

            &::before {
                content: '';
                position: absolute;
                width: 5px;
                height: 100%;
                background-color: var(--bs-danger);
            }
        }

        .nav-link {
            color: var(--bs-dark);
            font-weight: 500;

        }
    }
}